* {
	b order: 1px solid grey;
}

.form {
	background-color: #EEEEEE;
	padding: 10px;
}
.form2 {
	background-color: white;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	padding: 10px;
}

.formTitle {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-left: 10px;
}

.formRow {

	padding-top: 3px;
}

.formLabel {
	t ext-align: right;
	vertical-align: top;
	padding-top: 4px;
	padding-right: 10px;
	line-height:100%;
	font-size: 12px;
}

.formErrorMsg {
	font-size: 10px;
	color: red;
	line-height: 100%;
}

.formDescSmall {
	font-size: 10px;
}

.formInputDiv {
	margin-left: 200px;
}

input {
	p adding-right: 15px;
}

br {
	clear: left;
}

label {
	font-size: 12px;
}
