* {
	b order: solid red 1px;
}

body {
	background: #FFFFFF;
	margin: 0em 1.5em;
    height: 100%;
   	padding-top: 5px;
   	padding-bottom: 5px;
}

.container {
	background-color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:150%;
    height: 100%;
    min-width: 800px;
    max-width: 1200px;
}

.header {
	padding: 0.1em 1em ;
	clear: left;
	padding-bottom: 4px;
}

.welcome {
	text-align: right;
	font-size: 10px;
	margin-top: 0;
	float: right;
	padding-top: 3px;
	line-height:130%;
}

.shortname {
	font-size: 30px;
	font-weight:bold;
	color: #555555;
	padding: 0;
	padding-top: 35px;
	padding-bottom: 3px;
}

.fullname {
	font-weight:bold;
	font-size: 16px;
	color: #555555;
	padding: 0;
}

.conferencelink {
	padding-right: 1em;
	float: right;
}

.mainmenu {
	background-color: #EEEEEE;
	padding-left: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
}

.main {
	background-color: white;
	padding: 1em 1em 2em 2.5em;
	min-height: 450px;
}

.left {
	w idth: 550px;
}

.leftmargin {
	margin-left: 50px;
}

.blockquote {
	padding: 8px;
	margin-left: 50px;
	border: dashed #CCCCCC 1px;
}

.right {
	float: right;
	padding-right: 15px;
}

.right0 {
	float: right;
}

.alignRight {
	text-align: right;
}

.footer {
	background-color: white;
	padding-top: 3em;
	padding-right: 15px;
	padding-bottom: 0.5em;

	border-top: solid #CCCCCC 1px;
	font-size: 10px;
	text-align: right;
}

a:link, a:visited{
	color: #0055cc;
}

a:hover {
	text-decoration: none;
	color:#FF3300;
}

.disabledMenuItem {
	b ackground-color:#ffffff;
	c olor: #FFFFFF;
	font-weight:bold;
}

.bold {
	font-weight:bold;
}

.message {
	font-size: 12px;
}

.t itle {
	font-size: 14px;
	b ackground-color: #EEEEEE;

}

h3 {
	font-size: 16px;
	font-weight: bold;
	background-color: #006600;
	color: white;
	padding: 0.2em 0.1em;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	b ackground-color:#CCCCCC;
	color:#000000;
	padding: 0.2em 0.1em;
}

.small {
	font-size: 10px;
	clear: left;
}

.smallgrey{
	font-size: 10px;
	clear: left;
	color:#BBBBBB;
}

.red {
	color: red;
}


/* table */

.titlecell {
	background-color: #ececec;
	b order-left: 1px #22AA22 solid;
	padding: 4px 2px 4px 2px;
	font-size: 12px;
	color: #111111;
}


.cell {
	background-color:#FFFFFF;
	padding: 2px;
	font-size: 12px;
	border-bottom: 1px #CCCCCC DASHED;
}

.shadedcell {
	background-color:#FFFFFF;
	padding: 2px;
	font-size: 12px;
	border-bottom: 1px #CCCCCC DASHED;
}

.verticalmenu { /* this single block makes the text a vertical menu */
	float: right;
	background-color:#eeeeee;
	margin: 10px 0em 0 0;
	font-size: 12px;
}
ul li a:link, ul li a:visited { /* the rest of the ul li blocks make the menu looks better */
	display: block;
	text-decoration: none;
	border-bottom: solid white 1px;
	padding: 3px 10px;
}
ul li a:hover {
	color: blue;
	c olor: #0000FF;
	b ackground-color: #CCCCCC;
}
ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}

/* information, warning, hazard */

.warning {
	color:#FFFFFF;
	background-color:#FF0000;
}

.a4width {
	padding-left: 10px;
	max-width: 650px;
}
.a4widthGrey {
	background-color: #EEEEEE;
	padding-left: 10px;
	max-width: 650px;
	padding: 10px;
}

.dialogBox {
	background: #EEEEEE;	
	max-width: 500px;
	padding: 10px;
}

.greybox {
	background-color: #EEEEEE;
}

.darkgrey {
	color: #777777;
}
